<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- Fontawesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <title>Home</title>
</head>

<body class="body-index">
  <!-- Header -->
  <header class="header-index">
    <div class="container-index-1">
      <div class="img-search-container-header-index">
        <img class="logo-ml-img" src="/images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
        <p class="search-p"><input type="text" name="search" id="search" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></p>
      </div>
      <p class="buy-p"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="nav-index">
      <ul>
        <a href="">
          <li>Ofertas</li>
        </a>
        <a href="">
          <li>Tiendas oficiales</li>
        </a>
        <a href="">
          <li>Vender</li>
        </a>
        <a href="">
          <li>Ayuda</li>
        </a>
        <br>
        <a href="">
          <li>Creá tu cuenta <i class="far fa-id-card"></i></li>
        </a>
        <a href="">
          <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
        </a>
        <a href="">
          <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
        </a>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
  <!-- Main -->
  <main class="main-index">
    <img class="img-banner-index" src="/images/img-home-banner.jpg" alt="banner">
    <h3 class="h3-index">Basado en tu última vista</h3>
    <section class=" section-index section-last-view-index">
      
      <div class="card-index">
        <img class="img-card-index" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$6.770</p>
            <p class="p-card-index p-16 discount-card-index">40% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">Cafetera Moulinex</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-macbook-pro-2019.jpg" alt="macBook">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$230.000</p>
            <p class="p-card-index p-16 discount-card-index">20% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">MacBook Pro 2019</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-s10">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$70.500</p>
            <p class="p-card-index p-16 discount-card-index">10% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">Samsung Galaxy s10</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-tv-samsung-smart.jpg" alt="smart-tv">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$23.200</p>
            <p class="p-card-index p-16 discount-card-index">5% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">SmartTv Samsung 43''</h4>
        </div>
      </div>
    </section>
    <hr>
    <h3 class="h3-index">Sección de Ofertas</h3>
    <section class=" section-index section-offer-index">
      <div class="card-index">
        <img class="img-card-index" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$6.770</p>
            <p class="p-card-index p-16 discount-card-index">40% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">Cafetera Moulinex</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-macbook-pro-2019.jpg" alt="macBook">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$230.000</p>
            <p class="p-card-index p-16 discount-card-index">20% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">MacBook Pro 2019</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-s10">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$70.500</p>
            <p class="p-card-index p-16 discount-card-index">10% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">Samsung Galaxy s10</h4>
        </div>
      </div>
      <div class="card-index">
        <img class="img-card-index " src="/images/img-tv-samsung-smart.jpg" alt="smart-tv">
        <div class="detail-card-index">
          <div class="truck-card-index"><i class="fas fa-truck"></i></div>
          <div class="price-discount-container-index">
            <p class="p-card-index price-index">$23.200</p>
            <p class="p-card-index p-16 discount-card-index">5% OFF</p>
          </div>
          <h4 class="p-card-index p-16 description-card-index">SmartTv Samsung 43''</h4>
        </div>
      </div>
    </section>
  </main>
</body>
<hr>
<footer class="footer-index">
  <div class="div-footer-index">
    <i class="fas fa-credit-card"></i>
    <h4 class="h4-card-footer-index">Pagá con tarjeta o en efectivo</h4>
    <p class="p-card-footer-index p-index">Con MercadoLiebreCash tenés cuotas sin
      interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
    </p>
  </div>
  <div class="div-footer-index">
    <i class="fas fa-gift"></i>
    <h4 class="h4-card-footer-index">Envío gratis desde los $2.500</h4>
    <p class="p-card-footer-index p-index">Solo por estar registrado en Mercado Liebre
      tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
    </p>
  </div>
  <div class="div-footer-index">
    <i class="fas fa-user-shield"></i>
    <h4 class="h4-card-footer-index">Seguridad de principio a fin</h4>
    <p class="p-card-footer-index p-index">¿No te gusta? ¡Devolvelo! En MercadoLiebre
      no hay nada que no puedas hacer porque estás siempre protegido.
    </p>
  </div>
  <span class="span-footer-index">Copyright &#169 1999-2020 MercadoLiebre S.R.L.</span>
</footer>

</html>